@import "helper/mixins";
@import "helper/variables";
.chip {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: white;
    box-sizing: border-box;
    @include ele-edit($sm){
        width: 100%;
    }
    @include ele-edit($md){
        width: 80%;
    }
    @include ele-edit($lg){
        width: 90%;
    }
    img {
        position: absolute;
        right: 0;
        float: right;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    span{
        color: #0d0d0d;
        position: absolute;
        left:5px;
    }

}
.confirm_factory{
    position: absolute;
    top:25%;
    right: 0;
}
.cancel_factory{
    position: absolute;
    top: 50%;
    right: 0;
}
